# Reference material, the project that implement rutube or android/rust
/3rdparty/

# Scratch space
/tmp/
/docs/todo/
/docs/read/

# Rust
/rust/target/

# IDE
.idea/

# Android
/android/local.properties
/android/.gradle/
/android/build/
/android/*/build/
/android/.kotlin/
